@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>
<h2 id="myH"></h2>
<img id="img1" class="w-25" />
<ul id="ul1" />

@section Scripts{
    <script>
        //console.log(fetch('@Url.Content("/api/index")'));
        //fetch('@Url.Content("/api/index")')
        //      .then(response=>{
        //        console.log(response)
        //        console.log(response.ok)
        //        console.log(response.text())
        //        //需要使用return 才能在下一層的.then得到response.text()的promise物件
        //        return response.text()  //這裡也會得到一個promise物件
        //      })
        //      .then(data => {
        //          console.log(data)
        //      })

        //簡化版本
        //fetch基底是promise，所以也用.then和.catch等等
        fetch('@Url.Content("/api/index")')
            //將目前的response取其中的response.text()回傳出來
            .then(response => response.text()) //是什麼型態就傳.什麼
            //再使用.then得到 文字型態 的內容物
            .then(data => {
                document.querySelector('#myH').innerHTML = data;
            })



        //fetch('@Url.Content("/api/Cities")')
        //    .then(response => response.json())
        //    .then(datas => {
        //        const lis = datas.map(city => `<li>${city}</li>`)
        //        document.querySelector('#ul1').innerHTML = lis.join("");
        //    })

        async function loadJSON() {
            const response = await fetch('@Url.Content("/api/Cities")')
            const datas = await response.json();
            const lis = datas.map(city => `<li>${city}</li>`)
            document.querySelector('#ul1').innerHTML = lis.join("");
        }



        //fetch('@Url.Content("/api/GetImageByte/2")')
        //    .then(response => response.blob())
        //    .then(datas => {
        //        const myImg = document.querySelector('#img1');
        //        myImg.src = URL.createObjectURL(datas);
        //    })

        async function loadImage() {
            const response = await fetch('@Url.Content("/api/GetImageByte/2")')
            const datas = await response.blob();
            const myImg = document.querySelector('#img1');
            myImg.src = URL.createObjectURL(datas);
        }

        loadJSON();
        loadImage();

    </script>
}